label[for=desired-income] {
	font-weight: 600;
	font-size: 1.4em;
	margin: .5em 0;
}

.rangeslider {
	margin: 40px 0 60px 0;
}
.rangeslider__fill {
	background: var(--paletteColor2);
}

.rangeslider__handle {
	width: 140px;
	border-radius: 10px;
}

.rangeslider__handle:after {
	background-image: none;
}

.desired {
	font-weight: 600;
	font-size: 1.4em;
	display: block;
	text-align: center;
}

.calculator span,
.surplus,
.desired-income,
.montly-instalment,
.required-income-eenmanszaak,
.required-income-bv,
.health_and_safety_service {
	white-space: nowrap;
}

.calculator-icons .wp-block-column {
	margin-bottom: var(--contentSpacing);
}

.calculator-icons .wp-block-column {
	text-align: center;
}

.calculator-icons p {
	margin: 10px 0 10px 0;
}

.calculator-icons img {
	height: 95px;
	width: auto;
}

.calculator-icons .amount {
	color: var(--paletteColor2);
	font-family: Roboto;
	font-size: 30px;
	font-weight: 900;
	display: inline;
}
.calculator-icons .description {
	color: var(--paletteColor2);
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	text-transform: lowercase;
	display: inline;

}