label[for=desired-income] {
	font-weight: 600;
	font-size: 1.4em;
	margin: .5em 0;
}

.rangeslider {
	margin: 40px 0 60px 0;
}

.rangeslider__fill {
	background: var(--paletteColor2);
}

.rangeslider__handle {
	width: 140px;
	border-radius: 10px;
}

.rangeslider__handle:after {
	background-image: none;
}

.desired {
	font-weight: 600;
	font-size: 1.4em;
	display: block;
	text-align: center;
}

.calculator span,
.surplus,
.desired-income,
.montly-instalment,
.required-income-eenmanszaak,
.required-income-bv,
.health_and_safety_service {
	white-space: nowrap;
}

.calculator-icons .wp-block-column {
	margin-bottom: var(--contentSpacing);
	text-align: center;
}

.calculator-icons img {
	height: 90px;
	width: auto;
}

.calculator-icons h3 {
	color: var(--paletteColor3);
	font-family: Merriweather Sans;
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 10px;
	margin-top: 20px !important;
}

.calculator-icons h4 {
	color: var(--paletteColor2);
	font-family: Merriweather Sans;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0 !important;
	text-transform: uppercase;
	letter-spacing: -1px;
}

@media(max-width: 689.98px) {
	.calculator-title {
		font-size: 26px;
		word-break: break-word;
	}
}
