label[for=desired-income] {
	margin: .5em 0;
	font-size: 1.4em;
	font-weight: 600;
}

.rangeslider {
	margin: 50px 0 70px 0;
}

.rangeslider__fill {
	background: var(--paletteColor2);
}

.rangeslider__handle {
	border-radius: 10px;
	width: 140px;
}

.rangeslider__handle:after {
	background-image: none;
}

.desired {
	display: block;
	font-size: 1.4em;
	font-weight: 600;
	text-align: center;
}

.desired-income,
.montly-payment,
.variable-costs,
.fixed-costs,
.surplus-percentage,
.surplus,
.required-income-eenmanszaak,
.required-income-bv {
	white-space: nowrap;
}

.calculator-icons .wp-block-column {
	margin-bottom: var(--contentSpacing);
	text-align: center;
}

.calculator-icons img {
	display: inline-block;
	height: 90px;
	width: auto;
}

.amount {
	color: var(--paletteColor3);
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 10px;
	margin-top: 20px !important;
}

.amount-title {
	color: var(--paletteColor2);
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0 !important;
	letter-spacing: -1px;
	line-height: 24px;
	text-transform: uppercase;
}

@media(max-width: 689.98px) {
	.calculator-title {
		font-size: 26px;
		word-break: break-word;
	}
}