label[for=desired-income] {
	font-weight: 600;
	font-size: 1.4em;
	margin: .5em 0;
}

.rangeslider {
	margin: 20px 0 40px 0;
}
.rangeslider__fill {
	background: var(--paletteColor2);
}

.rangeslider__handle {
	width: 140px;
	border-radius: 10px;
}

.rangeslider__handle:after {
	background-image: none;
}

.desired {
	font-weight: 600;
	font-size: 1.4em;
	display: block;
	text-align: center;
}

.calculator span,
.surplus,
.desired-income,
.montly-instalment,
.required-income-eenmanszaak,
.required-income-bv,
.health_and_safety_service {
	white-space: nowrap;
}